<div class="timeline-container">
  <h2 class="default-topic">My Experience</h2>
  <div class="timeline">
    
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3 class="timeline-title">Present Junior Software Developer</h3>
        <p>Developing and automating solutions using BMC Helix Innovation 
            Studio, and Angular.  
                Optimizing IT operations by implementing AI-driven automation for 
                monitoring and issue resolution.  
            Utilizing Node.js and npm to manage dependencies, troubleshoot 
                package conflicts, and integrate third-party libraries.  
            Styling and designing web applications using HTML and Tailwind CSS.  
            Adapting to diverse development environments and troubleshooting 
                technical issues.  </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3 class="timeline-title">2024 AIOPS Intern</h3>
        <p>Optimized IT environments with BMC tools, improving operational 
                efficiency and system reliability.  
            Monitored and analyzed system performance, identifying and resolving 
            issues through automation and AI-driven insights.  
            Implemented AI for root cause analysis, reducing incident response 
             time.  </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3 class="timeline-title">2024 Pre-WIL Web Development</h3>
        <p> Designed and developed a locally hosted e-commerce website.  
            Built dynamic front-end interfaces using HTML, CSS, and JavaScript.  
            Developed and maintained backend functionalities with Python and 
            Django, managing data with SQLite.  
            Collaborated with cross-functional teams to ensure a seamless user 
            experience.  </p>
      </div>
    </div>

    

  </div>
</div>
