<div class="flex items-center justify-center min-h-screen bg-gray-100 default-container">
    <div class="w-full max-w-4xl p-6 col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    My academic background and Certifications earned along the journey
                </p>
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>
