<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../assets/sim.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title">
                Simphiwe Dlamini
                
            </h2>
            <h1 class="default-highlight"> JUNIOR DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/simphiwe-sibulelo-100293289?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="simphiwesibulelo13@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    
                </div>
            </div>

           <p class="contact-paragraph">
  Passionate about building clean, meaningful software that solves real problems.  
  Whether it's a bold idea or a small spark, I'm all about turning concepts into functional solutions.  
  <span class="default-highlight">Let’s team up and build something future-ready.</span>
</p>
           <a href="../../assets/Simphiwe Resume.pdf" target="_blank" class="a-green">
            <button>
             📄 View My Resume
             </button>
                </a>
        </div>
    </div>
</div>
