<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{ currentYear }} | Developed and designed by Simphiwe Dlamini.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/simphiwe-sibulelo-100293289?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:simphiwesibulelo13@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="#" class="a-green">
          <img src="angular.png" alt="Angular Logo" class="footer-logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
