<div class="text-left-container">
  <div class="text-left">
    <h1 class="home-title">
      Shaping the digital world<br />powered by AI, driven by innovation.
    </h1>
    <h2 class="home-author">
      Simphiwe Dlamini, <span id="dynamic-text">{{ dynamicText }}</span>
    </h2>
    <blockquote>
     A Computer Systems Engineering graduate and Junior Consultant 
specializing in software development and automation. Experienced in BMC 
Helix Innovation Studio, Angular, and full-stack development. Skilled in 
managing dependencies in Node.js and npm, troubleshooting package 
conflicts, and styling web applications with HTML and Tailwind CSS. 
Passionate about leveraging AI to optimize IT environments and develop 
innovative solutions.
    </blockquote>
    <button>
      <a routerLink="/portfolio" class="a-green">
        Projects
      </a>
    </button>
  </div>
</div>
