<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Advanced <strong><span class="default-highlight">Zulu</span></strong></p>
        <p>Native <strong><span class="default-highlight">Zulu</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2022 - 2024 - TUT <strong><span class="default-highlight">Computer Systems Engineering</span></strong>- Diploma</p>
        <ul>
          <li>Final Project | Alcholo detector</li>
        </ul>
        
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Certifications</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Microsoft - <strong><span class="default-highlight">Microsoft Certified: Azure AI Fundamentals</span></strong> </p>
        <p> Skills Measured</p>
        <ul>
          <li>
           Describe Artificial Intelligence workloads and considerations
          - Describe fundamental principles of machine learning on Azure
          - Describe features of computer vision workloads on Azure
          - Describe features of Natural Language Processing (NLP) workloads on Azure
          - Describe features of generative AI workloads on Azure
          </li>
        </ul>
        <p>Microsoft - <strong><span class="default-highlight">Microsoft Certified: Azure AI Engineer Associate</span></strong></p>
        <p> Skills Measured</p>
        <ul>
          <li>
            Plan and manage an Azure AI solution
            - Implement generative AI solutions
            - Implement an agentic solution
            - Implement computer vision solutions
            - Implement natural language processing solutions
            - Implement knowledge mining and information extraction solutions
          </li>
        </ul>

        <p>Microsoft - <strong><span class="default-highlight">Microsoft Certified: Power BI Data Analyst Associate</span></strong></p>
        <p> Skills Measured</p>
        <ul>
          <li>
            Prepare the data
           -Model the data
           -Visualize and analyze the data
           -Manage and secure Power BI
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

   
  </mat-accordion>
</div>